###########################################
#################### R ####################
###########################################
##### IGNORAR
renv/*
**/data/**/*.xlsx
**/data/**/*.csv
**/data/**/*.txt

##### NÃO IGNORAR

!**/data/processed/cnpj*.json
!**/renv/activate.R
!.Rprofile
!renv.lock