###########################################
############### REPOSITÓRIO ###############
###########################################
##### IGNORAR
**/**/.gitignore
##### NÃO IGNORAR
!/.gitignore

###########################################
#################### R ####################
###########################################
##### IGNORAR
renv/*
# ignorados automaticamente por renv/.gitignore
renv/.gitignore
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/

**/data/**/*.xlsx
**/data/**/*.csv
**/data/**/*.txt

##### NÃO IGNORAR

!**/data/processed/cnpj*.json
!**/renv/activate.R
!**/renv/settings.json
!.Rprofile
!renv.lock