div[class="backgrounds"],
div[id="background"],
div[id="slide-background-content"] {
  background: rgb(247, 247, 247,.5);
}

div[class="slides"] {
  width: 100%;
  height: 100%;
  padding: 20px 80px 20px 80px;
}

div[class="slides"] section[id="section"], 
div[class="slides"] [id^="section-"] {
  width: 100%;
  height: 100%;
  background-color: rgb(247, 247, 247,1);
}

div[class="slides"] h1 {

    color: rgb(62, 72, 143,1);
    margin-left: 20px;
    margin-top: 90px;
    margin-bottom: 44px;
    font-size: 54px;
    font-family: 'SF Pro Text';
    font-weight: 800;
}


span.natureza{
    display: block;
    color: #3E488F;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'SF Pro Text';
    font-weight: 400;
}


hr.linha {
  width: 950px;
    margin-bottom: 0px;
      margin-left: 20px;
    border: none;
    height: 1px;
    /* Set the hr color */
    background-color: #333; /* Modern Browsers */
    border-left-width: 0px;
    border-right-width: 0px;
}

.footer-content {
    margin-left: 20px;
    display: flex;
    gap: 15px;
    margin-top: 30px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.footer-vertical-line{
    height: 30px;
    border-right: 1px solid #000;
}

.footer-texto-unb-dep{
  font-size: 12px;
  line-height: -0.5px;
}